/*
Colors used:
Primary Color (Blue): #142245;
Secondary Color (Green): #49bc7b;
Alternative Color (OffWhite): #efe9e4;
*/
/*
Fonts used:
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
/* font rules setup */
body {
  background-color: #142245;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #ffffff;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.35em;
  font-weight: 400;
}

/*viewport image setup*/
img {
  width: 100%;
  /* hyperlink action setup */
}

a {
  color: #142245;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #9ADCFF;
  opacity: 0.8;
  /* doesn't work */
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #142245;
}

a:active {
  /* selected link */
  color: #F9FEAB;
}

a:focus {
  color: #9ADCFF;
  text-decoration: underline;
}

/* keyboard Accessibility*/
/* Button Styles */
.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #49bc7b;
  color: #142245;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-color: #142245;
  border: 2px solid #142245;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  transition-duration: 0.2s;
  transition-property: opacity;
  margin-bottom: 20px;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  background-color: #F9FEAB;
  text-decoration: none;
}

.button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.button:visited {
  color: #142245
}

.button.contact {
  background-color: transparent;
  color: #49bc7b;
  text-transform: uppercase;
  border: 2px solid #49bc7b;
}

.button.conact:active {
  background-color: #F9FEAB;
  text-decoration: none;
}

.button.contact:hover {
  text-transform: underline;
}

/* layout styling */
.container {
  padding: 15px;
  margin: 10px;
}

.row {
  margin: 25px 0;
}

.logo {
  max-width: 150px
}

#projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
}

/* working on header */
.logo {
  max-width: 250px;
}

header {
  background-color: #49bc7b;
  padding: 10px 0;
}

/*#nav {
  width: 100%;
  z-index: 1;
}
*/
nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

/* hero section */
#hero {
  background-color: #142245;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

header {
  box-shadow: 0px 11px 13px 0px rgba(50, 50, 50, 0.45);
  position: relative;
}

main {
  padding-top: 56px;
}

/* footer section style */
footer {
  background-color: #49bc7b;
  text-align: center;
  padding: 10px 10px;
  color: #ffffff;
}

footer>a {
  background-color: transparent;
  color: #142245;
  text-transform: uppercase;
  border: 2px solid #142245;
}

/* Centered text
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -85%);
  padding: 20px;
  background-color: rgba(73, 188, 123, 0.8);
  margin: -20px;
}
*/
.imgtext {
  margin-bottom: 50px;
}

.hire {
  color: #142245;
}

.social {
  display: inline-block;
  padding: 0 15px;
}

.social img {
  width: 50px;
}

.phoneemail {
  display: inline-block;
}

#about {
  padding-left: 10px;
  padding-bottom: 10px;
}

/* about me skills */
.skills {
  border-color: #49bc7b;
  border: 2px solid #49bc7b;
  margin: 10px;
  text-align: left;
  display: block;
}

.graphic {}

.production {}

.ux {}

[class*="col-"] {
  float: left;
}

.row:after {
  content: "";
  clear: both;
  display: table;
  padding: 0 10px;
}

.col-sm-12 {
  width: 100%;
}

.imgspace {
  padding: 10px;
}

.articlespace {
  padding: 10px;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

@media only screen and (max-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .imgtext {
    margin-bottom: 0px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    z-index: 1000;
  }

  p {
    font-size: 18px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-9 {
    width: 75%;
  }

  /*
  .col-right {
    padding: 10px;
  } */
  .col-md-6.skills {
    display: inline-block;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav>ul {
    margin: 1em 0;
  }

  .imgtext h1 {
    font-size: 21px;
  }

  .imgtext p {
    font-size: 14px;
  }

  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
  }

  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }

  .navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #142245;
    background-color: #49bc7b;
  }

  .navtoggle.responsive li:last-child {
    padding: 0 0 10px;
  }

  .navtoggle li:not(:last-child) {
    display: none;
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
  }
}

@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .imgtext {
    margin-bottom: 0px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    z-index: 1000;
  }

  p {
    font-size: 20px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-9 {
    width: 75%;
  }

  /*
  .col-right {
    padding: 10px;
  } */
  .col-md-6.skills {
    display: inline-block;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav>ul {
    margin: 1em 0;
  }

  .imgtext h1 {
    font-size: 30px;
  }

  .imgtext p {
    font-size: 16px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: 20px;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-4 {
    width: 33.3%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .imgtext {
    margin-bottom: 0px;
    margin-right: -100px;
  }

  .menu-item {
    display: inline-block;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}

.row:after {
  padding: 20px 20px;
}

@keyframes sun-color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}